<section class="bg-primary">
    <footer class="sm:w-5/6 w-full mx-auto flex p-8 sm:pb-[73px] h-full sm:items-center text-white sm:text-xl sm:font-semibold">
        <div class="w-full">
            <img class="sm:mx-0 pt-12 sm:pt-[100px] w-44 pb-11" src="{{ site.theme.link }}/resources/img-svg/logo2.svg" alt="">
            <div class="grid grid-cols-1 sm:gap-12 sm:grid-cols-2 xl:grid-cols-4 w-full">
                <div class="flex justify-center w-full">
                    <div class="flex flex-col sm:px-0">
                        <p> http://hnk-solicitors.test
                            Our lawyers at Higgs Newton Kenyon 
                            Solicitors are multi-disciplined and have 
                            experience across a wide range of 
                            personal injury and compensation cases.
                        </p>
                        <img class="py-5 sm:py-10 w-[260px] sm:w-full sm:h-fit md:w-[260px]" src="{{ site.theme.link }}/resources/img-svg/ratings.svg" alt="">
                        <img class="w-[398px] h-[132px] sm:w-full sm:h-fit lg:w-[398px] lg:h-[132px]" src="{{ site.theme.link }}/resources/img-svg/sra.png" alt=""> 
                    </div>
                </div>
                <div class="flex xl:justify-center py-5 sm:py-0">
                    <div>
                        <div>
                            <p class="pb-4">Contact Info</p>
    
                            <p>Higgs Newton Kenyon</p>
                            <p>6th Floor Yorkshire House</p>
                            <p>18 Chapel Street</p>
                            <p>Liverpool</p>
                            <p>L3 9AG</p>
    
                            <p class="pt-4">0151 668 0812</p>
                            <p>enquiries@hnksolicitors.com</p>
                        </div>
                        <div class="hidden sm:block">
                            <p class="pt-14 pb-[30px]">Follow HNK</p>
                            <div class="flex gap-x-3">
                                <a href="#"><img class="h-10 w-10" src="{{ site.theme.link }}/resources/img-svg/socials/facebook.svg" alt=""></a>
                                <a href="#"><img class="h-10 w-10" src="{{ site.theme.link }}/resources/img-svg/socials/twitter.svg" alt=""></a>
                                <a href="#"><img class="h-10 w-10" src="{{ site.theme.link }}/resources/img-svg/socials/instagram.svg" alt=""></a>
                                <a href="#"><img class="h-10 w-10" src="{{ site.theme.link }}/resources/img-svg/socials/linkedIn.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex xl:justify-center py-5 sm:py-0">
                    <div class=" w-[331px]">
                        <p class="pb-4">Services</p>
                        <ul>
                            <li><a href="#">Accidents at Work</a></li>
                            <li><a href="#">British Airways Data Breach</a></li>
                            <li><a href="#">Catastrophic Injuries</a></li>
                            <li><a href="#">Challenging Consumer Debt</a></li>
                            <li><a href="#">Civil Actions Against The Police</a></li>
                            <li><a href="#">Criminal Injuries Compensation</a></li>
                            <li><a href="#">Data Protection Claims</a></li>
                            <li><a href="#">Delayed Flight Compensation</a></li>
                            <li><a href="#">Dixons Carphone Warehouse Data Breach</a></li>
                            <li><a href="#">Product Liability</a></li>
                            <li><a href="#">Road Traffic Accidents</a></li>
                            <li><a href="#">Sexual Abuse Compensation</a></li>
                            <li><a href="#">Slips Trips And Falls</a></li>
                        </ul>
                    </div>
                </div>
                <div class="flex xl:justify-center pt-5 sm:py-0">
                    <div class="text-lg">
                        <p class="pb-4">Opening Hours</p>
                        <p>Monday 9am – 7pm</p>
                        <p>Tuesday 9am – 7pm</p>
                        <p>Wednesday 9am – 7pm</p>
                        <p>Thursday 9am – 7pm</p>
                        <p>Friday 9am – 5pm</p>
                        <p>Saturday Closed</p>
                        <p>Sunday Closed</p>
                    </div>
                </div>
            </div>

            <div class="sm:hidden">
                <p class="pt-8 pb-3">Follow HNK</p>
                <div class="flex gap-x-2">
                    <a href="#"><img class="h-8 w-8" src="{{ site.theme.link }}/resources/img-svg/socials/facebook.svg" alt=""></a>
                    <a href="#"><img class="h-8 w-8" src="{{ site.theme.link }}/resources/img-svg/socials/twitter.svg" alt=""></a>
                    <a href="#"><img class="h-8 w-8" src="{{ site.theme.link }}/resources/img-svg/socials/instagram.svg" alt=""></a>
                    <a href="#"><img class="h-8 w-8" src="{{ site.theme.link }}/resources/img-svg/socials/linkedIn.svg" alt=""></a>
                </div>
            </div>
            
            <p class="font-normal text-[#6EA2CE] text-xs sm:text-lg pt-10 sm:pt-[100px]">
                Higgs Newton Kenyon Solicitors is a trading name of 
                UK Law Nationwide Ltd registered in England and Wales 
                under number 08307355. Registered office, 6th Floor, 
                Yorkshire House, 18 Chapel Street, Liverpool, L3 9AG. 
                A list of directors is open for inspection at the 
                registered officer. Any reference to a "Partner" is in 
                reference to a Director or Shareholder of the company. 
                Regulated by the Solicitors Regulation Authority under 
                number 573571.
            </p>
        </div>
    </footer>
</section>

