{% extends "base.twig" %}

{% block content %}
	<section class="min-h-[858px] bg-primary">
		<div class="w-5/6 mx-auto h-full flex flex-wrap xl:flex-nowrap items-center text-white overflow-hidden">
			<div class="">
				<h1 class=" font-roboto text-6xl">Civil Litigation Experts</h1>
				<p class="text-xl max-w-[567px] font-semibold py-5 pb-10">
					HNK Solicitors is a specialist civil litigation law firm, our 
					lawyers are multi-disciplined and have extensive experience 
					and expertise across a wide range of matters. We put our 
					clients’ needs first and we understand that every case and 
					each person is different.
				</p>
				<button class="btn-primary">Find Out More</button>
			</div>
			<div class="w-[600px] mt-auto xl:w-[820px] h-full mx-auto xl:ml-auto">
				<img src="{{ site.theme.link }}/resources/img-svg/heroImage.png" alt="">
			</div>
		</div>
	</section>
	<section>
		<div class="w-5/6 mx-auto flex justify-center text-white">
			<div class="w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4 mt-12 md:-mt-12 ">
				<div class="relative h-full overflow-hidden rounded-lg">
					<img class="w-full" src="{{ site.theme.link }}/resources/img-svg/findOutMore/1.png" alt="">
					<div class="top-0 flex flex-col left-0 p-8 pl-10 absolute h-full w-full bg-[#00000099]">
						<p class="text-[28px] font-bold">Data Protection Claims</p>
						<p class="mt-auto">
							<a class="flex text-xl font-bold items-center" href="#">
								<span class="pr-2">Find Out More</span>
								<svg class="h-4 pr-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path data-name="Arrow Back" d="M0 9h12.2l-5.6 5.6L8 16l8-8-8-8-1.4 1.4L12.2 7H0Z" fill="#fff"/></svg>
							</a>
						</p>
					</div>
				</div>
				<div class="relative h-full overflow-hidden rounded-lg">
					<img class="w-full" src="{{ site.theme.link }}/resources/img-svg/findOutMore/2.png" alt="">
					<div class="top-0 flex flex-col left-0 p-8 pl-10 absolute h-full w-full bg-[#00000099]">
						<p class="text-[28px] font-bold">Civil Actions Against The Police</p>
						<p class="mt-auto">
							<a class="flex text-xl font-bold items-center" href="#">
								<span class="pr-2">Find Out More</span>
								<svg class="h-4 pr-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path data-name="Arrow Back" d="M0 9h12.2l-5.6 5.6L8 16l8-8-8-8-1.4 1.4L12.2 7H0Z" fill="#fff"/></svg>
							</a>
						</p>
					</div>
				</div>
				<div class="relative h-full overflow-hidden rounded-lg">
					<img class="w-full" src="{{ site.theme.link }}/resources/img-svg/findOutMore/3.png" alt="">
					<div class="top-0 flex flex-col left-0 p-8 pl-10 absolute h-full w-full bg-[#00000099]">
						<p class="text-[28px] font-bold">Criminal Injuries Compensation</p>
						<p class="mt-auto">
							<a class="flex text-xl font-bold items-center" href="#">
								<span class="pr-2">Find Out More</span>
								<svg class="h-4 pr-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path data-name="Arrow Back" d="M0 9h12.2l-5.6 5.6L8 16l8-8-8-8-1.4 1.4L12.2 7H0Z" fill="#fff"/></svg>
							</a>
						</p>
					</div>
				</div>
				<div class="relative h-full overflow-hidden rounded-lg">
					<img class="w-full" src="{{ site.theme.link }}/resources/img-svg/findOutMore/4.png" alt="">
					<div class="top-0 flex flex-col left-0 p-8 pl-10 absolute h-full w-full bg-[#00000099]">
						<p class="text-[28px] font-bold">Accidents at Work</p>
						<p class="mt-auto">
							<a class="flex text-xl font-bold items-center" href="#">
								<span class="pr-2">Find Out More</span>
								<svg class="h-4 pr-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path data-name="Arrow Back" d="M0 9h12.2l-5.6 5.6L8 16l8-8-8-8-1.4 1.4L12.2 7H0Z" fill="#fff"/></svg>
							</a>
						</p>
					</div>
				</div>
				<div class="relative h-full overflow-hidden rounded-lg">
					<img class="w-full" src="{{ site.theme.link }}/resources/img-svg/findOutMore/5.png" alt="">
					<div class="top-0 flex flex-col left-0 p-8 pl-10 absolute h-full w-full bg-[#00000099]">
						<p class="text-[28px] font-bold">Catastrophic Injuries</p>
						<p class="mt-auto">
							<a class="flex text-xl font-bold items-center" href="#">
								<span class="pr-2">Find Out More</span>
								<svg class="h-4 pr-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path data-name="Arrow Back" d="M0 9h12.2l-5.6 5.6L8 16l8-8-8-8-1.4 1.4L12.2 7H0Z" fill="#fff"/></svg>
							</a>
						</p>
					</div>
				</div>
				<div class="relative h-full overflow-hidden rounded-lg">
					<img class="w-full" src="{{ site.theme.link }}/resources/img-svg/findOutMore/6.png" alt="">
					<div class="top-0 flex flex-col left-0 p-8 pl-10 absolute h-full w-full bg-[#00000099]">
						<p class="text-[28px] font-bold">Road Traffic Accidents</p>
						<p class="mt-auto">
							<a class="flex text-xl font-bold items-center" href="#">
								<span class="pr-2">Find Out More</span>
								<svg class="h-4 pr-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path data-name="Arrow Back" d="M0 9h12.2l-5.6 5.6L8 16l8-8-8-8-1.4 1.4L12.2 7H0Z" fill="#fff"/></svg>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="w-5/6 mx-auto flex justify-center pt-[86px] pb-[100px]">
			<img class="pb-10 w-[686px]" src="{{ site.theme.link }}/resources/img-svg/ratings2.svg" alt="">
		</div>
	</section>
	<section class="bg-primary">
		<div class="w-5/6 mx-auto flex py-9 h-full items-center text-white">
			<div class="grid grid-cols-1 gap-y-4 md:gap-0 md:grid-cols-3 w-full">
				<div class="flex justify-center h-full items-center">
                    <p class="text-2xl xl:text-3xl 3xl:text-[40px] font-bold">How Do I Claim?</p>
                </div>
				<div class="flex justify-center h-full items-center ">
                    <p class="text-xl xl:text-2xl 3xl:text-3xl w-[432px]">For more information on how to claim please click this button</p>
                </div>
				<div class="flex justify-center h-full items-center">
					<button class="w-44 h-12 text-lg 3xl:w-[220px] 3xl:h-[60px] 3xl:text-xl bg-white font-bold text-primary">Claim Now</button>
                </div>
			</div>
		</div>
	</section>
	<section class="bg-[#F0F0F0]">
		<div class="w-5/6 mx-auto flex pt-[92px] mb-8 xl:mb-0">
			<div class="grid grid-cols-1 xl:grid-cols-2 w-full xl:h-[257px] text-center xl:text-left gap-y-4">
				<div class="h-full xl:pl-[100px]">
					<p class="font-roboto text-6xl text-primary">About HNK Solicitors</p>
					<p class="text-[#707070] pt-3 text-2xl">EXPERTS IN CIVIL LITIGATION</p>
				</div>
				<div>
					<p class="text-xl text-[#707070] xl:w-[664px] md">
						HNK Solicitors is a specialist civil litigation law firm, with a team 
						of multi-disciplined lawyers who have extensive knowledge, experience 
						and expertise in various aspects of civil law. We pride ourselves on 
						being client-focused, putting their needs first as we fight to get the 
						compensation they deserve.
					</p>
				</div>
			</div>
		</div>
		<div class="!ml-[8vw] swiper">
			<div class="gap-8 text-white swiper-wrapper ">
				{% include '/partial/slide.twig' with 
					{'title': 'Fresh Approach',
					'content': 'HNK Solicitors demonstrate our progressive and proactive approach in every case we handle. Our main aim is to ensure every client we represent is happy with the service provided and the outcome of their case.',
					'image': '/resources/img-svg/aboutHNK/freshApproach.png'}
				%}
				{% include "/partial/slide.twig" with {
					'title': 'Civil Liberties Experts',
					'content': 'HNK Solicitors demonstrate our progressive and proactive approach in every case we handle. Our main aim is to ensure every client we represent is happy with the service provided and the outcome of their case.',
					'image': '/resources/img-svg/aboutHNK/civilLibertyExperts.png'
				} %}
				{% include "/partial/slide.twig" with {
					'title': 'Civil Liberties Experts',
					'content': 'HNK Solicitors demonstrate our progressive and proactive approach in every case we handle. Our main aim is to ensure every client we represent is happy with the service provided and the outcome of their case.',
					'image': '/resources/img-svg/aboutHNK/civilLibertyExperts.png'
				} %}
			
				
			</div>
			<div class="pt-[50px] pb-24 flex w-5/6 mx-auto">
				<div class="ml-auto gap-x-12 inline-flex pr-20">
					<button class="swiper-button-prev !static after:!content-none">
						<svg class="h-4 pr-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 16"><g data-name="Group 9" opacity=".5"><path data-name="Arrow Back" d="M16 7H3.8l5.6-5.6L8 0 0 8l8 8 1.4-1.4L3.8 9H16Z" fill="#a7a9ac"/><path data-name="Rectangle 3" fill="#a7a9ac" d="M38 9H15V7h23z"/></g></svg>
					</button>
					<button class="swiper-button-next !static after:!content-none">
						<svg class="h-4 pr-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 16"><path data-name="Arrow Back" d="M22 9h12.2l-5.6 5.6L30 16l8-8-8-8-1.4 1.4L34.2 7H22Z" fill="#a7a9ac"/><path data-name="Rectangle 3" fill="#a7a9ac" d="M0 7h23v2H0z"/></svg>	
					</button>
				</div>
			</div>
		</div>
	</section>
	<section class="w-5/6 py-24 mx-auto h-full text-primary">
		<div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-x-4">
			<div class="w-full text-lg lg:text-xl font-semibold lg:font-bold">
				<div class="w-full bg-[#F0F0F0] mb-2.5">
					<a href="#" class="h-full pl-7 py-[15px] w-full inline-flex items-center">
						Have you had a slip, trip or fall?
						<svg class="h-4 pr-5 ml-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path data-name="Arrow Back" d="M0 9h12.2l-5.6 5.6L8 16l8-8-8-8-1.4 1.4L12.2 7H0Z" fill="#005DAC"/></svg>
					</a>
				</div> 
				<div class="w-full bg-[#F0F0F0] my-2.5">
					<a href="#" class="h-full pl-7 py-[15px] w-full inline-flex items-center">
						Have you had an accident at work?
						<svg class="h-4 pr-5 ml-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path data-name="Arrow Back" d="M0 9h12.2l-5.6 5.6L8 16l8-8-8-8-1.4 1.4L12.2 7H0Z" fill="#005DAC"/></svg>
					</a>
				</div>
				<div class="w-full bg-[#F0F0F0] my-2.5">
					<a href="#" class="h-full pl-7 py-[15px] w-full inline-flex items-center">
						Have you been victim of police misconduct?
						<svg class="h-4 pr-5 ml-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path data-name="Arrow Back" d="M0 9h12.2l-5.6 5.6L8 16l8-8-8-8-1.4 1.4L12.2 7H0Z" fill="#005DAC"/></svg>
					</a>
				</div>
				<div class="w-full bg-[#F0F0F0] my-2.5">
					<a href="#" class="h-full pl-7 py-[15px] w-full inline-flex items-center">
						Have you been victim of a violent crime or assault?
						<svg class="h-4 pr-5 ml-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path data-name="Arrow Back" d="M0 9h12.2l-5.6 5.6L8 16l8-8-8-8-1.4 1.4L12.2 7H0Z" fill="#005DAC"/></svg>
					</a>
				</div>
				<div class="w-full bg-[#F0F0F0] my-2.5">
					<a href="#" class="h-full pl-7 py-[15px] w-full inline-flex items-center">
						Have you ever had a flight delay of more than 3 hours?
						<svg class="h-4 pr-5 ml-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path data-name="Arrow Back" d="M0 9h12.2l-5.6 5.6L8 16l8-8-8-8-1.4 1.4L12.2 7H0Z" fill="#005DAC"/></svg>
					</a>
				</div>
				<div class="w-full bg-[#F0F0F0] my-2.5">
					<a href="#" class="h-full pl-7 py-[15px] w-full inline-flex items-center">
						Have you been in a road traffic accident
						<svg class="h-4 pr-5 ml-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path data-name="Arrow Back" d="M0 9h12.2l-5.6 5.6L8 16l8-8-8-8-1.4 1.4L12.2 7H0Z" fill="#005DAC"/></svg>
					</a>
				</div>
				<div class="w-full bg-[#F0F0F0] my-2.5">
					<a href="#" class="h-full pl-7 py-[15px] w-full inline-flex items-center">
						Have you been victim of sexual abuse?
						<svg class="h-4 pr-5 ml-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path data-name="Arrow Back" d="M0 9h12.2l-5.6 5.6L8 16l8-8-8-8-1.4 1.4L12.2 7H0Z" fill="#005DAC"/></svg>
					</a>
				</div>
				<div class="w-full bg-[#F0F0F0] mt-2.5">
					<a href="#" class="h-full pl-7 py-[15px] w-full inline-flex items-center">
						Have you had a slip, trip or fall?
						<svg class="h-4 pr-5 ml-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path data-name="Arrow Back" d="M0 9h12.2l-5.6 5.6L8 16l8-8-8-8-1.4 1.4L12.2 7H0Z" fill="#005DAC"/></svg>
					</a>
				</div>
			</div>
			<div class="lg:h-full lg:w-full mt-10 lg:mt-0 lg:bg-cover lg:bg-center bg-no-repeat" style="background-image:url({{ site.theme.link }}/resources/img-svg/questions.png)">
				<img class="lg:hidden " src="{{ site.theme.link }}/resources/img-svg/questions.png" alt="">
			</div>
			{# <img class="ml-auto" src="{{ site.theme.link }}/resources/img-svg/questions.png" alt=""> #}
		</div>
	</section>
	<section class="bg-primary">
		<div class="sm:w-5/6 mx-auto flex h-full text-white">
			<div class="py-20 md:py-24 xl:mx-[90px] mx-12 flex-wrap xl:flex-nowrap inline-flex w-full xl:gap-x-[60px] border-b-white border-b-4">
				<div class="w-full xl:w-[652px] flex flex-col text-center xl:text-left">
					<p class="font-roboto text-6xl">Why Choose us?</p>
					<p class="text-xl font-semibold pt-4">
						HNK Solicitors specialise in a wide variety of civil litigation cases. 
						We have experts in civil actions against the police, criminal injuries 
						claims, challenging consumer debt, data protection claims, personal 
						injury claims, and a specialist aviation law department. 
					</p>
					<p class="text-xl font-semibold pt-4">
						We can even offer a no-win, no-fee service for many clients and offer 
						free, no-obligation consultations. We put our clients at the forefront 
						of everything we do and fight to obtain the compensation and justice they 
						deserve. 
					</p>
					<button class="w-[220px] mx-auto xl:mx-0 mb-8 h-[60px] text-xl bg-white font-bold text-primary mt-5 md:mt-10">Claim Now</button>
				</div>
				<img class="mx-auto w-full 2xl:ml-auto" src="{{ site.theme.link }}/resources/img-svg/whoChooseUs.png" alt="">
			</div>
		</div>
		<div class="w-5/6 mx-auto flex pt-[87.5px] pb-[100px] text-white">
			<div class="grid grid-cols-1 w-full sm:grid-cols-2 gap-y-8 md:gap-4 xl:grid-cols-4 text-center">
				<div>
					<p class="text-[50px] font-bold">95%</p>
					<p class="font-semibold text-[25px]">Successful Cases</p>
				</div>
				<div>
					<p class="text-[50px] font-bold">10 Million+</p>
					<p class="font-semibold text-[25px]">Recovered In Damages For Clients</p>
				</div>
				<div>
					<p class="text-[50px] font-bold">1000+</p>
					<p class="font-semibold text-[25px]">Client Consultations</p>
				</div>
				<div>
					<p class="text-[50px] font-bold">1000+</p>
					<p class="font-semibold text-[25px]">Client Consultations</p>
				</div>
			</div>
		</div>
	</section>
	<section class="w-5/6 mx-auto flex">
		<div class="pt-[94px] pb-[196px] text-center w-full">
			<p class="text-primary text-6xl font-roboto pb-4">No Win No Fee, Free Consultation</p>
			<p class="text-[#707070] text-[25px]">Please fill out the form below to get started with your claim</p>
			<form action="#" class=" pt-[100px] flex flex-wrap mx-auto xl:w-[1088px]">
				<div class="py-4 w-[122.5px] mr-5 inline-flex items-center ">
					<select name="title" 
						class="block w-full py-1.5 px-1 mt-1 
						text-primary appearance-none border-b-[1px] border-primary
						focus:outline-none">
						<option>Select*</option>
						<option>Ms</option>
						<option>Mr</option>
						<option>Mrs</option>
						<option>Miss</option>
						
					</select>
					<svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10">
						<path id="Polygon_3" data-name="Polygon 3" d="M6,0l6,10H0Z" transform="translate(12 10) rotate(180)" fill="#005dac"/>
					</svg>
				</div>

				<div class="py-4 w-full xl:w-[443px] xl:mr-10">
					<input type="text" name="firstname" placeholder="First Name*"
						class="block w-full py-1.5 px-1 mt-1 placeholder-primary
						text-primary appearance-none border-b-[1px] border-primary
						focus:outline-none"
						/>
				</div>

				<div class="py-4 w-full xl:w-[443px]">
					<input type="text" name="surname" placeholder="Surname*"
						class="block w-full py-1.5 px-1 mt-1 placeholder-primary
						text-primary appearance-none border-b-[1px] border-primary
						focus:outline-none"
					 	/>
				</div>

				<div class="py-4 xl:pr-5 w-full xl:w-1/2">
					<input type="text" name="phoneNumber" placeholder="Phone*"
						class="block w-full py-1.5 px-1 mt-1 placeholder-primary
						text-primary appearance-none border-b-[1px] border-primary
						focus:outline-none"
						/>
				</div>
				
				<div class="py-4 xl:pl-5 w-full xl:w-1/2">
					<input type="email" name="email" placeholder="Email Address*"
						class="block w-full py-1.5 px-1 mt-1 placeholder-primary
						text-primary appearance-none border-b-[1px] border-primary
						focus:outline-none"
						/>
				</div>

				<div class="py-6 w-full xl:mr-5 inline-flex items-center ">
					<select name="title" 
						class="block w-full py-1.5 px-1 mt-1 
						text-primary appearance-none border-b-[1px] border-primary
						focus:outline-none">
						<option>Case Type* (Please select)</option>
						<option>Accidents at Work</option>
						<option>British Airways Data Breach</option>
						<option>Catastrophic Injuries</option>
						<option>Challenging Consumer Debt</option>
						<option>Civil Actions Against The Police</option>
						<option>Criminal Injuries Compensation</option>
						<option>Data Protection Claims</option>
						<option>Delayed Flight Compensation</option>
						<option>Dixons Carphone Warehouse Data Breach</option>
						<option>Product Liability</option>
						<option>Road Traffic Accidents</option>
						<option>Sexual Abuse Compensation</option>
						<option>Slips Trips And Falls</option>
						
					</select>
					<svg class="" xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10">
						<path id="Polygon_3" data-name="Polygon 3" d="M6,0l6,10H0Z" transform="translate(12 10) rotate(180)" fill="#005dac"/>
					</svg>
				</div>

				<div class="my-6 w-full h-[284px]">
					<textarea id="w3review" name="w3review" rows="4" cols="50" placeholder="Enquiry*" class="block w-full py-1.5 px-1 mt-1 
					text-primary appearance-none border-[1px] border-primary h-full placeholder-primary
					focus:outline-none"></textarea>
				</div>

				<button type="submit"
					class="py-5 px-[90px] w-full sm:w-auto bg-primary
					font-medium text-white ml-auto
					focus:outline-none hover:bg-gray-700 hover:shadow-none">
					Register
				</button>
			</form>	
		</div>
	</section>
{% endblock %}
  